@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@300&display=swap');
/*font-family: 'Fjalla One', sans-serif;
font-family: 'Inter', sans-serif;    */

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    display:flex;
    align-items: center;
    gap: 30%;
    font-family: 'Fjalla One', sans-serif;
    position: fixed;
    z-index: 2;
    border-bottom: 2px solid white;
}

p {
    color: white;
    font-family: 'Inter', sans-serif; 
    font-size: clamp(0.5rem, 2vw, 2rem);
}

.navbar > a {
    margin-left: 10%;
    float: left;
}

header img {
    max-width: 100px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* configuration for hamburger icon and nav bar. Special credits to 
Miguel Nunez for the basic layout & functions of the hamburger menu 
(source: https://www.youtube.com/watch?v=flItyHiDm7E) */

.navbar {
    min-height: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2%;
    gap: 15%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0;
}

.nav-item {
    margin: 0 2%;
    width: 100%;
}

.nav-link {
    transition: 0.5s ease;
    width: 100%;
    padding: 0 2%;
}

.nav-link:hover{
    color: #e5a239;
    font-weight: bold;
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e5a239;
}

@media (max-width:768px){
    .hamburger{
        display: block;
    }
     .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }   
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -200%;
        top: 10vh;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 5;
        padding-bottom: 20px;
    }
    .nav-item {
        margin: 16px;
    }
    .nav-menu.active {
        left: 0;
        margin: 0;
    }

    ul.nav-menu.active {
        padding:0;
    }

    .navbar {
        gap: 50%;
    }
}

/*Hero Section*/
#hero {
    width: 100vw;
    height: 70vw;
    position: relative;
    top: 10vh;
    border-bottom: 2px solid white;
}

#hero-img {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(/assets/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
}

/* Backdrop filter effect for hero image */

.hero-filter {
    position: relative;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(5%);
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.hero-effect {
    animation: 3s ease-in 1 forwards brightness;
}

@keyframes brightness {
    100% {backdrop-filter: brightness(100%);}
}

/* Hero text */

#hero-textcontainer {
    width: 30vw;
    height: auto;
    background-color: rgba(229, 162, 57, 0.9);
    border: 1px solid white;
    border-radius: 5%;
}

h1, h2 {
    text-align: center;
    font-size: clamp(0.7rem, 2vw, 4rem);
    padding: 2%;
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    color:white;
    margin-bottom: 5%;
}

/* Introduction */

#introduction {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 10vh;
}

#introduction-img-container {
    width: 280px;
    height: 280px;
    float: left;
    margin: 1% 2%;
}

#introduction img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
}

/* #introduction ul inspired by https://www.w3schools.com/howto/howto_css_bullet_color.asp 
because coloring of list bullet points is not implemented in css with an own property
*/ 

#introduction ul {
    list-style: none;
    font-family: 'Inter', sans-serif;
  }
  
#introduction ul li::before {
    content: "\2022";
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
  }

  li, #introduction form label  {
    font-size: clamp(0.5rem, 2vw, 2rem);
    color:white;
  }

@media screen and (max-width:624px){
    #introduction-img-container{
        display: block;
        margin: 0 auto;
        float: none;
    }
    #introduction p {
        clear: left;
    }
} 

.highlight {
    font-weight: bold;
    color:#1bb3aa;
}

/* Form element */

#introduction-form {
    font-family: 'Fjalla One', sans-serif;
    font-size: clamp(0.5rem, 2vw, 2rem);
    width: 60%;
    height: auto;
    margin: 5% auto;
    background-color: #1bb3aa;
    border-radius: 5%;
    border: 2px solid white;

}

#introduction-form h3 {
    text-align: center;

}

.introduction-input {
    margin: 3%;
    padding: 2%;
    text-align: center;
}

.introduction-input label {
    display: block;
}

input {
    width: 60%;
}

input[type=text], input[type=email] {
    height: clamp(0.5rem, 2vw, 2rem);
}

input[type=submit] {
    font-family: 'Fjalla One', sans-serif;
    font-size: clamp(0.5rem, 2vw, 2rem);
    background-color: #e5a239;
}

/* Quote section */ 

aside {
    position: relative;
    top: 10vh;
    width: 60%;
    margin: 5% auto 10%;
}

.emphasize {
    font-style: italic;
}

/* Footer section */

footer {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 10vh;
    background-color: #807753;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer i {
    font-size: clamp(0.5rem, 2vw, 2rem);
}

footer img {
    max-width: 100px;
}


/* History page specifications */

#history {
    position: relative;
    top:10vh;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

#history-background {
    width: auto;
    height: 100%;
    position: relative;
    background-image: url(/assets/images/yvette-garcia-YJsfCWMpamE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
}

/* Basic timeline inspired by Alvaro Trigo, source: https://codepen.io/alvarotrigo/pen/BawBzjM */ 


.history-container {
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  /* Timeline Container */
  .timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 600px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #e5a239;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #1bb3aa;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: #e5a239;
    position: relative;
    font-size: clamp(0.5rem, 2vw, 2rem);
    font-family: 'Fjalla One', sans-serif;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid #e5a239;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }
